<p>
<table class="tabpilote">

    Cliquez sur une lettre :
    {{#each listePilote}}
       <a href="/repertoirePilote/{{this.lettre}}"> {{this.lettre}}</a>
        </tr>
    {{/each}}

</table>
</p>
<br class="myboth" />