{{>repoPilotesPartial}}

<div class = "afficherPilote">
    {{#each sponsorPilote}}
        <div>
            <p>{{this.sponom}} ({{this.sposectactivite}})</p>
        </div>
    {{/each}}
        <div>
            <p>Qui suis-je ? : {{infosPilote.0.piltexte}}</p>
        </div>

</div>
<br class="myboth" />